<div class="row login-form">
	<div class="col-md-6 col-md-offset-4">
		<form method="POST" action="/login">
			<label for="username">Username</label>
			<input type="text" name="username">
			<br>
			<br>
			<label for="password">Password</label>
			<input type="password" name="password">
			<br>
			<br>
			<input type="submit">
		</form>
	</div>
</div>
